@switch (type) {
  @case ("circle") {
    <svg:path class="connector" attr.d="m {{ x }},{{ y }} v 10" />
    <svg:circle
      class="body"
      r="20"
      [attr.fill]="fill"
      [attr.cx]="x"
      [attr.cy]="y + 30"
    />
  }
  @case ("square") {
    <svg:path class="connector" attr.d="m {{ x }},{{ y }} v 10" />
    <svg:rect
      class="body"
      width="40"
      height="40"
      [attr.fill]="fill"
      [attr.x]="x - 20"
      [attr.y]="y + 10"
    />
  }
  @case ("triangle") {
    <svg:path class="connector" attr.d="m {{ x }},{{ y - 10 }} v 10" />
    <svg:polygon
      class="body"
      attr.points="
        {{ x }},{{ y }}
        {{ x - 20 }},{{ y + 40 }}
        {{ x + 20 }},{{ y + 40 }}
      "
      [attr.fill]="fill"
    />
  }
}

<svg:text class="day" [attr.x]="x - (day < 10 ? 5 : 8)" [attr.y]="y + 35">
  {{ day }}
</svg:text>
