.connector,
.body {
  stroke-width: 5;
  stroke: #000000;
}

.connector {
  stroke-linecap: round;
}

.body {
  paint-order: fill markers stroke;
  stroke-linecap: round;
  stroke-linejoin: round;
}

:host {
  cursor: pointer;
}

text.day {
  fill: #fff;
  text-anchor: middle;
}

:host.disabled {
  cursor: not-allowed;
}
