<svg:g>
  <path class="connector" [attr.d]="vm.connectorD" />
  @switch (vm.type) {
    @case ("circle") {
      <circle
        class="body"
        attr.fill="url(#{{ vm.patternId }})"
        [attr.r]="vm.circle.r"
        [attr.cx]="vm.circle.cx"
        [attr.cy]="vm.circle.cy"
      />
    }
    @case ("square") {
      <rect
        class="body"
        attr.fill="url(#{{ vm.patternId }})"
        [attr.width]="vm.square.size"
        [attr.height]="vm.square.size"
        [attr.x]="vm.square.x"
        [attr.y]="vm.square.y"
      />
    }
    @case ("triangle") {
      <polygon
        class="body"
        [attr.points]="vm.triangle.points"
        attr.fill="url(#{{ vm.patternId }})"
      />
    }
  }

  <defs>
    <pattern
      [id]="vm.patternId"
      [attr.width]="vm.imageSize"
      [attr.height]="vm.imageSize"
    >
      <rect width="100%" height="100%" [attr.fill]="vm.color" />
      <image
        [attr.href]="vm.imageHref"
        [attr.width]="vm.imageSize"
        [attr.height]="vm.imageSize"
        [attr.x]="vm.imageDelta"
        [attr.y]="vm.imageDelta"
      />
    </pattern>
  </defs>

  <text
    class="day"
    dominant-baseline="middle"
    [attr.x]="vm.dayX"
    [attr.y]="vm.dayY"
  >
    {{ vm.day }}
  </text>
</svg:g>
