<dl class="list">
  <!-- TODO: すべてのユーザーの投稿が揃わないと日付がずれるため、表示していない
  <dt class="term">Day</dt>
  <dd class="description">{{ article.day }}</dd>
  -->
  <dt class="term">Author</dt>
  <dd class="description">
    <a href="https://qiita.com/{{ article.author }}">
      &#64;{{ article.author }}
    </a>
  </dd>
  <dt class="term">Title</dt>
  <dd class="description">{{ article.title }}</dd>
  <dt class="term">Link</dt>
  <dd class="description">
    <a [href]="article.url">{{ article.url }}</a>
  </dd>
</dl>
