.list {
  font-family: "Roboto", sans-serif;
  display: block;
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem var(--accent-color, black);
}

.term {
  font-weight: bold;
}
